.header {
  margin-right: 100px;

  &__login {
    padding: 30px 30px 30px 0;
    display: flex;
    justify-content: flex-end;
  }

  .loginElement {
    padding: 10px 30px;
    text-decoration: none;
    color: #000;

    &:last-child {
      border: 0.75px solid $color-yellow;
    }
  }

  // &__nav {
  //   display: flex;
  //   justify-content: flex-end;
  //   padding: 30px 0;
  //   font-size: 18px;

  //   .nav-element {
  //     padding: 10px 20px;

  //     &:first-child {
  //       border: 0.75px solid $color-primary;
  //     }

  //     &:last-child {
  //       padding-right: 0px;
  //     }
  //   }
  // }
}
